<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<p>
    <a th:href="@{product/list}">
        Back to product list
    </a>
</p>
<h3>Hàng đã mua</h3>
<div id="detail">
    <table id="products">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name Product</th>
            <th>Price</th>
            <th>Producer</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${listProduct}">
            <td th:text="${row.id}"></td>
            <td th:text="${row.nameProduct}"></td>
            <td th:text="${row.price}"></td>
            <td th:text="${row.producer}"></td>
            <td><a th:href="@{/{id}/delete(id=${row.getId()})}">delete</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/deleteAll}"><h3>Delete All</h3></a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>