<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="category/layout :: head"></head>
<body>
<h3>Modify category</h3>
<p>
    <a th:href="@{/home-category}">
        Back to category list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/category/update}" th:object="${category}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Title</label>
            <input type="text" th:field="*{nameCategory}"/>
        </div>
        <input type="submit" value="Modify"/>
    </form>
</div>
<footer th:replace="category/layout :: footer"></footer>
</body>
</html>